<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.spring.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>

    <bean id="userService" class="com.spring.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
        <property name="iUserDao" ref="proxyUserDao"/>
    </bean>

    <bean class="com.spring.common.MyBeanFactoryPostProcessor"/>
    <bean class="com.spring.common.MyBeanPostProcessor"/>
    <bean id="proxyUserDao" class="com.spring.bean.ProxyBeanFactory"/>

    <bean class="com.spring.event.ContextRefreshedEventListener"/>
    <bean class="com.spring.event.CustomEventListener"/>
    <bean class="com.spring.event.ContextClosedEventListener"/>

</beans>