<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.spring.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>

    <bean id="userService" class="com.spring.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
        <property name="iUserDao" ref="proxyUserDao"/>
        <property name="token" value="RejDlI78hu223Opo983Ds"/>
        <property name = "name" value="Jay"/>
    </bean>

    <bean class="com.spring.common.MyBeanFactoryPostProcessor"/>
    <bean class="com.spring.common.MyBeanPostProcessor"/>
    <bean id="proxyUserDao" class="com.spring.bean.ProxyBeanFactory"/>

    <bean class="com.spring.event.ContextRefreshedEventListener"/>
    <bean class="com.spring.event.CustomEventListener"/>
    <bean class="com.spring.event.ContextClosedEventListener"/>

    <bean class="com.spring.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <!--具体怎么增强: 满足匹配规则的类都会使用这条增强规则-->
    <bean id="beforeAdvice" class="com.spring.bean.UserServiceBeforeAdvice"/>

    <!--组合增强逻辑-->
    <bean id="methodInterceptor" class="com.spring.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>
    <!--增强谁-->
    <bean id="pointcutAdvisor" class="com.spring.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.spring.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>